<h1>Tous les shops</h1>

<%= form_tag(shops_path, method: :get, id: "distanceform" ) do %>
  <input id="hidden" type="hidden" name="location" value="" >
  <%= label :distance, "Distance : " %>
  <input id="ex1" data-slider-id='ex1Slider' name="distance" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value= "" />

  <%= submit_tag "Search" %>
<% end %>

<div class="padded">
  <div class="row">

    <div class="col-xs-6">
      <div id="shops">
        <%= render 'shops', shops: @shops %>
      </div>
    </div>

     <div class="col-xs-6">
      <div id="map_google">
        <%= render 'map', markers: @markers %>
      </div>

    </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    <% if params[:distance] %>
      var distanceValue = <%= raw params[:distance] %>
    <% else %>
      var distanceValue = 10
    <% end %>

    var mySlider = new Slider('#ex1', {
      value: distanceValue,
      formatter: function(value) {
        return value * 100 + ' mètres';
      }
    });

  </script>
<% end %>
