<!-- <h1>Tous les shops</h1> -->
<div class="flex">
  <div class="search-form">
    <%= form_tag(shops_path, method: :get, id: "distanceform" ) do %>
      <input id="hidden" type="hidden" name="location" value="" >
      <%= label :distance, "Distance : " %>
      <span>0</span><input id="ex1" data-slider-id='ex1Slider' name="distance" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value= "" /><span>1000 mètres</span>

      <%= submit_tag "Search", class: "btn-gray" %>
    <% end %>
  </div>
</div>

<div class="padded">
  <div class="row">

    <div class="col-xs-6">
      <div id="shops">
        <%= render 'shops', shops: @shops %>
      </div>
    </div>

     <div class="col-xs-6">
      <div id="map_google">
        <%= render 'map', markers: @markers %>
      </div>

    </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    <% if params[:distance] %>
      const distanceValue = <%= raw params[:distance] %>
    <% else %>
      const distanceValue = 0
    <% end %>

    const mySlider = new Slider('#ex1', {
      value: distanceValue,
      tooltip: 'always',
      formatter: function(value) {
        return value * 100;
      }
    });

  </script>
<% end %>
