<h1>Tous les shops</h1>


<%= form_tag shops_path, method: :get do %>
  <input type="hidden" name="location" value="">
  <%= label :distance, "Distance : " %>
  <%= text_field_tag :distance, params[:distance] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="padded">
  <div class="row">

    <div class="col-xs-6">
      <div id="shops">
        <%= render 'shops', shops: @shops %>
      </div>
    </div>

     <div class="col-xs-6">
      <div id="map_google">
        <%= render 'map', markers: @markers %>
      </div>

    </div>

  </div>
</div>


