<div
  id="map"
  style="width: 100%;
  height: 50vh;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="flex title">
  <div class="name"><%= @shop.name %></div>
  <div class="link">
    <%= link_to edit_shop_path(@shop) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to shop_path(@shop), method: :delete do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </div>
</div>

<div class="flex-vertical infos">
  <div class="chain"><%= @shop.chain.capitalize %></div>
  <div>
    <i class="fa fa-map-marker"></i>
    <%= @shop.full_address %> -
    <%= @shop.zip %>
  </div>
  <div>
    <i class="fa fa-phone"></i>
    <%= @shop.phone %>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
